node_modules/

.DS_Store
.AppleDouble
.LSOverride

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.idea

cypress/videos/
cypress/screenshots/

cypress/fixtures/users/default.json
cypress.json